#delivery-detail {
  ion-buttons {
    ion-label, ion-text {
      color: #3F51B5;
    }

    ion-label:hover, ion-text:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    ion-button {

      border-color: #bdbdbe !important;
      border-width: thin !important;
      border-style: solid !important;
      border-radius: 0px !important;
      margin: 0;

      ion-label {
        i, span {
          color:#3F51B5;
        }
      }
    }
  }
}