ion-col {
  padding: 0px;
}

#loss-icon, #order-icon, #feedback-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

#feedback-icon ion-icon, #loss-icon ion-icon, #order-icon ion-icon {
  color: white;
  margin-top: 20%;
}

#feedback-icon {
  background-color: #1f90f2;
}

#loss-icon {
  background-color: blue;
}

#order-icon {
  background-color: green;
}
.break {
  flex-basis: 100%;
  height: 0;
}